<nav class="navbar navbar-expand navbar-dark bg-dark px-2">
  <div class="side-nav-button p-2 me-3 text-light" (click)="sidebarToggle()">
    <i class="fa fa-solid fa-bars"></i>
  </div>

  <a class="navbar-brand px-4" href="#">MindTech</a>

  <!-- <div class="navbar-collapse">
    <ul class="navbar-nav me-auto">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Menu 1
        </a>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" href="#">Child 1</a></li>
          <li><a class="dropdown-item" href="#">Child 2</a></li>
          <li><a class="dropdown-item" href="#">Child 3</a></li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Menu 2
        </a>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" href="#">Child 1</a></li>
          <li><a class="dropdown-item" href="#">Child 2</a></li>
          <li><a class="dropdown-item" href="#">Child 3</a></li>
        </ul>
      </li>

    </ul>
  </div> -->

  <!-- <form class="d-flex me-5">
    <input class="form-control me-2" type="search" placeholder="Search">
    <button class="btn btn-outline-light" type="submit">Search</button>
  </form>  -->

  <!-- <div class="ms-auto me-3 d-flex align-items-center">
   
    <img src="../../../assets/images/profile.jpg" alt="User Avatar" class="rounded-circle me-2" width="30" height="30">
    <div class="dropdown">
      <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Rohan
      </a>
      <ul class="dropdown-menu dropdown-menu-dark p-2">
        <li><a href="#" class="dropdown-item">Profile</a></li>
        <li><a href="#" class="dropdown-item">Settings</a></li>
        <li><a href="#" class="dropdown-item">Log out</a></li>
      </ul>
    </div>
  </div> -->

  <div class="ms-auto me-3 d-flex align-items-center">
    <!-- User Profile Section -->
    <img src="../../../assets/images/profile.jpg" alt="User Avatar" class="rounded-circle me-2" width="30" height="30">
    <div class="dropdown">
      <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Rohan
      </a>
      <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end custom-dropdown">
        <li><a href="#" class="dropdown-item">Profile</a></li>
        <li><a href="#" class="dropdown-item">Settings</a></li>
        <li><a href="#" class="dropdown-item">Log out</a></li>
      </ul>
    </div>
  </div>

</nav>